@import 'mixin.scss';



.choose_time_container{
    display: inline-block;
    position: relative;
    .time_input{
        width: 83px;
        height: 35px;
        border-radius: 4px;
        background-color: rgb(255, 255, 255);
        border: solid 1px rgb(215, 217, 220);
        padding-left: 12px;
        padding-right: 18px;
        background-position: center right 6px;

    }
    .input_container{
        display: inline-block;
        position: relative;

    }
    .triangle{
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            border-bottom: none;
            border-top: 4px solid black;
            height: 4px;
            right: 12px;
            @include PosAbsVertical;
    }
    .choose_time{
        z-index: 2;
        padding: fixed;
        bottom: auto;
        right: auto;
        border-radius: 6px;
        background-color: white;
        box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
    }
    .choose_time_name{
        cursor: pointer;
    }
}


.choose_time {
    width: 230px;
    height: 271px;
    // position: absolute;
    right: -231px;
    bottom: 0px;
    background: #FFF;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    transition: opacity 0.4s ease-in;
    height: inherit;
    .hours,
    .minutes {
        @extend .scroll;
        list-style: none;
        display: inline-block;
        width: 50%;
        height: calc(100% - 26px);
        -ms-overflow-y: scroll;
        overflow-y: scroll;
        text-align: center;

        li:nth-child(even) {
            background: rgba(154, 160, 167, 0.2);
        }

        .choose_time_name {
            background: #FFF;
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            padding: 5px;
        }

        .hh,
        .mm {
            cursor: pointer;

            &:hover {
                background-color: rgba(65, 121, 248, 0.7)
            }
        }
    }

    .any_time {
        cursor: pointer;
        text-align: center;
        padding: 5px;

        &:hover {
            background-color: rgba(65, 121, 248, 0.7)
        }
    }

}

.orange_color{
    .hours,
    .minutes {
        .hh,
        .mm {
            cursor: pointer;

            &:hover {
                background-color: rgba($orange, 0.7);
            }
        }
    }
     .any_time {

        .mm {
             &:hover {
                background-color: rgba($orange, 0.7);
            }
        }
     }
}
